
 *{
    margin: 0;
    padding: 0;
} 
html{
    scroll-behavior: smooth;
}
body{
    /* background: rgb(136, 203,171); */
    /* background:-o-linear-gradient(top,green, rgba(0,31,60,1) 100%); */
    background: linear-gradient(0deg, rgb(31, 110, 128) 0%, rgba(0,31,60,1) 100%);
    
    
             font-family: 'merriweather',serif;
             color: #fff;
             /* height: 100vh; */
             
            
             /* background: rgb(1, 48, 82); 
             /* box-shadow: 100vh 8px 32px 0 rgba(42, 52, 187, 0.37);  */ */
             

}
.mariam{
    background-color: #fff;
    width:100% ;
    height: 50px;
}
.up {
    
    position: fixed;
    bottom: 679px;
    
   
    color: rgb(13, 94, 137);
    font-weight: bold;
    font-size: 17px;
    
    border-radius: 4px;
    font-family: Arial, Tahoma;
    cursor: pointer;
    transition: 0.2s;
    margin-left: 400px;
    
    
  }
  .up.show {
    left: 100px;
  }
  .fy {
   
    position: fixed;
    bottom: 679px;
   
    
    color: rgb(38, 117, 154);
    font-weight: bold;
    font-size: 17px;
   
    border-radius: 4px;
    font-family: Arial, Tahoma;
    cursor: pointer;
    transition: 0.2s;
    margin-left: 500px;
    
  }
  .up.show {
    left: 100px;
  }
  .sec3{
    position: fixed;
    bottom: 679px;
    
   
    color: rgb(13, 94, 137);
    font-weight: bold;
    font-size: 17px;
    
    border-radius: 4px;
    font-family: Arial, Tahoma;
    cursor: pointer;
    transition: 0.2s;
    margin-left: 600px;
  }
  .sec3.show{
    left:700px ;
  }
  .sec4{
    position: fixed;
    bottom: 679px;
    
   
    color: rgb(13, 94, 137);
    font-weight: bold;
    font-size: 17px;
    
   
    font-family: Arial, Tahoma;
    cursor: pointer;
    transition: 0.2s;
    margin-left:700px ;
  }
  .sec4.show{
    left:100px ;
  }
h1{
    font-family: 'fira sans ',sans-serif;
    font-size: 3em;
    margin: 2em 1rem;
}
h2{
    border-bottom: 1px;
    font-family: 'oxygrn', sans-serif;
    font-size: 3em;
    color: #fff;
}
p{
    line-height: 1.6em;
    color: #eee;
}
main{
    margin:10vh 1em 10vh;
}
.main-hero{
    min-height: 40vh;
    padding-top: 3em;
}
.sticky{
    /* width: 20vh;
    height:20vh; */
    /* background: rgba(34, 15, 103, 0.25);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba(18, 31, 96, 0.18);
    border-bottom: 3px solid #fff;  */


}
section{
    position: relative;
    min-height: 80vh;
}
.navbar__menu ul{
    padding-left: 0;
    margin: 0;
    text-align: right;
}
.navbar__menu li{
    display:inline-block ;
}
 
/* .navtop{
   
    width: 100%;
    max-height: 60px;
    border: 0;
    border-radius: 0;
    background: #fff;
    position: relative;
    z-index: 800;
    border-bottom: 1px solid #dee2e4;
    margin-left: 0;
    
} */
section .your-active-class{
    background-color:#0096c7 ;
    transition:all 0.5s ease-in ;
}

  nav ul li{
    display: inline-block;
    margin:0 16px ;
    margin-right:30px ;

    
}
.navbar__menu ul{
    padding: 0;
    margin: 0;
    text-align: right;

}
.navbar__menu .menu__link{
    padding:1em;
    display: block;
    font-weight: bold;
    text-decoration: none;
    color: #000;

}
/* .navbar__menu .menu__link:hover{
    background: #000;
    color: #fff;
    transform: ease 0.3s all;
    


} */
a:hover{
    background-color: #000;
    color: #fff;
    transform: ease 0.6s all;
}

nav ul {
    display: flex;
    justify-content: center;
    align-content: center;


}
h1{
    font-family: 'fira sans', sans-serif;
    font-size: 3em;
    margin: 2em 1rem;
}
/* .navbar__menu .menu__link:hover{
    background: #4e7477;
    color: #fff !important;
    transition: ease 0.3 all;
} */

.page__header{
    background: #fff;
    position: fixed;
    top: 0;
    width: 100%;
    z-index:5;



}
.page__footer{
    background: #000;
    padding: 3rem;
    color:#fff;
}
.page__footer p{
    color: #fff;
}
.landing__container{
    padding: 1rem;
    text-align: left;
}
@media only screen and (min-width:25em){
    .landing__container{
        max-width: 50em;
        padding: 4em;
    }
}
section:nth-of-type(even) .landing__container{
    margin-right: 0;
    margin-left: auto;
    text-align: right;
}
section:nth-of-type(odd) .landing__container::before{
    content: '';
    background: rgba(255,255,255,0.187 );
    position: absolute;
    z-index: -5;
    width: 20vh;
    height: 20vh;
    border-radius: 50%;
    opacity: 0;
    transition: ease 0.5s all;
}
section:nth-of-type(even) .landing__container::before{
    content: '';
    background: rgb(255,255,255);
    background: linear-gradient(0deg,rgba(255,255,255,.1)0%,rgba(255,255,255,.2));
    position: absolute;
    top: 3em;
    right: 3em;
    z-index: -5;
    width: 10vh;
    height: 10vh;
    border-radius: 50%;
    opacity: 0;
    transition: ease 0.5s all;
}
section:nth-of-type(3n) .landing__container::after{
    content: '';
    background: rgb(255,255,255);
    background: linear-gradient(0deg,rgba(255,255,255,.1)0%,rgba(255,255,255,.2)100%);
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -5;
    width: 10vh;
    height: 10vh;
    border-radius: 50%;
    opacity: 0;
    transition: ease 0.5s all;
}
section:nth-of-type(3n+1) .landing__container::after{
    content: '';
    background: rgb(255,255,255);
    background: linear-gradient(0deg,rgba(255,255,255,.1)0%,rgba(255,255,255,.2)100%);
    position: absolute;
    bottom: -5em;
    right: 20vw;
    z-index: -5;
    width: 15vh;
    height: 15vh;
    border-radius: 50%;
    opacity: 0;
    transition: ease 0.5s all;
}
 section.your-active-class{ 
    background: rgba(8, 67, 184, 0.37);
    background: linear-gradient(0deg, rgb(31, 110, 128) 0%, rgba(0,31,60,1) 100%);
    transition: all 0.5s ease-in; 
 }
.pag__footer p{
margin-left:700px;
padding-top:10px ;
}
.scroll__top {
    margin-left:723px;
}
